@import '../../theme/variables.scss';

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: $background-color;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 500px;

  div {
    padding: 10px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 535px;

    p {
      margin-top: 0px;
      color: #898989
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__error{
    display: flex;
    justify-content: center;
    height: 50px;
    color: red;
    font-size: 1.2rem;
  }

  input {
    height: 60px;
    width: 500px;
    background-color: transparent;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 0 20px;
    border: 1px solid #898989;
  }

  button {
    height: 60px;
    width: 545px;
    border-radius: 15px;
    background-image: $cardGradient;
    font-size: 1.2rem;
    color: white;
    margin-top: 20px;
    border: none;
  }

}

@media screen and (max-width: 768px) {
  .login-container {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: black;

    &__top {
      width: 100%;
    }
      
    input {
      height: 50px;
      width: 80%;
      font-size: 1rem;
    }

    button {
      height: 50px;
      width: 100%;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .login-container {
    width: 90%;
    height: 350px;

    &__top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 0.7rem;
    }

    input {
      height: 40px;
      width: 85%;
      font-size: 0.9rem;
    }

    button {
      height: 40px;
      width: 100%;
      font-size: 0.9rem;
    }

    &__error{
      font-size: 0.8rem;
    }
  }

}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .login-container__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 0.7rem;
  }
}