$background-color:  #e9f2f2;
$background-color-dark: #1e1e1e;
$background-container-color-dark: #464646;
$cardBackgroundColor: #ebf4f5;
$cardGradient: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
$cardGradientNight: linear-gradient(90deg, rgba(99,96,153,1) 0%, rgba(11,11,47,1) 0%, rgba(80,88,89,1));