
.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;      
  margin: 0 10px 0 25px;
  top: 10px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;

  &:hover {
    background-color: #e8e8e8bf;
  }

}

.options-container {
  min-height: 75px;
  max-height: 100%;
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px 0px 25px;
  top: 40px;
  right: 30px;
  border-radius: 10px;
  background-color: #ebf4f5;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 3;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    cursor: pointer;
  }
}

.options-container--show {
  opacity: 0;
  animation-name: shownum;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  
  @keyframes shownum {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.options-container--hide {
  animation-name: hidenum;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  @keyframes hidenum {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

}