@import '../../theme/variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0 40px 0 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

  &__title {
    font-size: 2rem;
    color: #416a93;
  }

  &__search {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__icon {
      width: 32px;
      height: 32px;
    }

  }

}

.dark {
  background-color: $background-color-dark;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
}